@media screen and (max-width: 1360px) {
    .menu ul {
        font-size: 17px;
    }
}

@media screen and (max-width: 1240px) {
    .menu ul {
        font-size: 17px;
    }


    /* Colocar dropdowx para esconder/mostrar conhecimentos */
    /* alinhar-los em colunas, como dropdown */
    

    #forma {
        display: none;
    }

    .bye{
        text-align: center;
        margin: 30px 0;    
        padding: 0 5em;           
    }
    
    .bye li{
        list-style-type: none; 
    }

    .tudo .tp{
        display: none;
    }
    
    .tudo .lin{
        justify-content: space-evenly;
        text-align: center;
        padding: 20px 0;
    }  
}

@media screen and (max-width: 900px) {
    .menu ul {
        font-size: 13px;
    }

    .profissional ul {
        flex-direction:  column;
    }
}

@media screen and (max-width: 680px) {
    .inicio {
        font-size: 20px;
    }

    .menu ul {
        flex-direction: column;
        height: auto;
        text-decoration: underline;   
        font-size: 20px;    
        padding: 1em 0;        
    }

    .menu ul li {
        margin: 3px;
        text-decoration-color: white;
        border-style: white solid 1px 0 0 0;
    }

    .menu ul a {
        text-decoration-color: white;
    }

    .eu{
        flex-direction: column;
    }

    #sobre{
        width: 80%;
    }

    #foto{
        border-right: none;
        border-bottom: dashed 3px #000; 
        width: 100%;
    }

    .profissional li{
        list-style-type: none;
        text-align: center;
        font-size: 17px;
    }
}

@media screen and (max-width: 420px) {
    .inicio {
        background-image: url("../imagens/black-and-white-blur-gray-34088\ -\ Copia.jpg");
        background-size: cover;
        width: 100%;
        height: 70vh;
    }

    .menu ul {
        flex-direction: column;
        height: 150px;
    }

    .menu ul a {
        background: none;
        text-decoration-line: underline;
        padding: 0.4em;
    }
}

@media screen and (max-width: 300px) {
    #cursos h2 {
    font-size: 20px;
   }

   .menu ul {
    height: auto;
    }

    #sobre p{
        margin: 0 25px;
    }
    .lin img {
        max-width: 60px;
        max-height: 800px;
        width: auto;
        height: auto;
    }

    .lin h2 {
        font-size: 15px;
    }
}