* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inicio {
    background-image: url("../imagens/black-and-white-blur-gray-34088\ -\ Copia.jpg");
    background-size: cover;
    width: 100%;
    height: 93vh;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    display: flex;
    font-size: 30px;
    color:#16a7a7;
    text-shadow:1px 0px 0px #000, 
    -1px 0px 0px #000, 
    0px 1px 0px #000, 
    0px -1px 0px #000;   
}

.banner-text{
    padding: 0.5em 1em;
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
}

/* .inicio h1{
    transform: translateX(275px) translateY(-90px);
}
.inicio h2{
    transform: translateX(283px) translateY(-70px);
} */

.menu {
    flex: 3;    
}

.menu ul {
    width: 100%;
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 7vh;
    background-color:#000;
    font-size: 25px;
    text-align: center;
    justify-content: space-around;
}

.menu ul a {
    color: #16a7a7;
    text-transform: uppercase;
    text-shadow: 0 0 2px #fff;
    text-decoration: none;   
    text-shadow: 1px 0px 0px #000, -1px 0px 0px #000, 0px 1px 0px #000, 0px -1px 0px #000; 
}

.menu ul a:hover{
    color: #e91e63;
}

.eu {
    justify-content:center;
    align-items: center;
    flex-direction: row;
    display: flex;
}

#sobre{
    background-color: white;
    height: auto;
    width: 60%;
}

#sobre ul li {
    font-size: 18px;
}

#sobre h2{
    text-align: center;
    font-size: 35px;
    padding: 30px;
    text-transform: uppercase;
    color: gray;
    text-shadow:1px 0px 0px #000, 
    -1px 0px 0px #000, 
    0px 1px 0px #000, 
    0px -1px 0px #000;   
}

#sobre p{
    text-align: justify;
    margin:  0 50px;
    font-size: 20px;
    line-height: 30px;
}

#foto {
    background-color: white;
    width: 40%;
    height: auto;
    text-align: center;
    color: #16a7a7;
    border-right: dashed 3px #000;    
    /* display: flex;
    justify-content: center; */
}

#foto img{
    max-width: 400px;
    max-height: 300px;
    width: auto;
    height: auto;  
    border: black solid 15px;  
}

#foto img:hover{
    border: rgb(58, 58, 58) solid 15px; 
}

#foto h2{
    font-size: 30px;
    padding: 40px;
    text-transform: uppercase;
    color: gray;
    text-shadow: 1px 0px 0px #000, -1px 0px 0px #000, 0px 1px 0px #000, 0px -1px 0px #000;
}

.blocoConhecimento{
    display: flex;
    /* justify-content: space-around; */
    margin: 50px 30px 30px 30px;
    font-size: 16.5px;
    color: white;
    font-weight: bold;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;    
}

dd{
    background-color: gray;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-shadow:1px 0px 0px #000, 
    -1px 0px 0px #000, 
    0px 1px 0px #000, 
    0px -1px 0px #000; 
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.blocoConhecimento-pai {
    text-align: center;
    display: flex;
}

#cursos{
    width: 100%;
    background: #000;
    color:white;
}

#cursos h2 {
    text-align: center;
    font-size: 25px;
    padding: 30px 30px 0 30px;
    color: #16a7a7;
    text-transform: uppercase;    
}

#cursos p {
    text-align: justify;
    margin:  0 70px;
    font-size: 15px;
}    

#port{
    width: 100%;
    height: 400px;
    background: white;
    
    align-items: center;
    flex-direction: column;
    display: flex;
}

#port h3{
    padding: 30px;
    margin-top: -25px;
    color: #2954B6;
}

#port h2 {
    text-align: center;
    font-size: 25px;
    padding-top: 30px;
    color: #16a7a7;
    text-transform: uppercase;
}

#port p {
    text-align: justify;
    margin:  0 70px;
    font-size: 15px;
}
.port-img{
    width: 500px;
    height: auto;
}

.port-img img{
    width: 50px;
    height: 100px;
}

#contato{
    width: 100%;
    height: auto;
    background: #000;
    
}

#contato h2 {
    text-align: center;
    font-size: 25px;
    padding: 30px;
    color: #16a7a7;
    text-transform: uppercase;
}


#forma {
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#forma h2 {
    font-size: 25px;
    padding-top: 30px;
    color: #16a7a7;
    text-transform: uppercase;
}

#forma p {
    text-align: justify;
    margin:  0 70px;
    font-size: 15px;
}

#exp{
    width: 100%;
    background: #000;
    color: white;
}

#exp h2 {
    text-align: center;
    font-size: 25px;
    padding: 30px;
    color: #16a7a7;
    text-transform: uppercase;
}

#exp p {
    text-align: justify;
    margin:  0 70px;
    font-size: 15px;
}

.lin img {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}

.tp img{
    max-width:50px;
    max-height: 50px;
    width: auto;
    height: auto;
}

.tudo{    
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    color: #2954B6;
}

.tudo .tp{
    flex: 2;  
    padding-left: 7%;
    padding-top: 55px;
}

.tudo .lin{
    flex: 1;
    padding: 20px;
    padding-left: 225px;
    padding-right: 50px;
}

.profissional {
    display: flex;
    justify-content: space-evenly;
}

.profissional ul {
    display: flex;
}

.profissional li{
    margin:  0 30px 30px 30px;
    padding:  0 70px;
}

.bye {
    display: flex;
    justify-content: space-around;
    margin: 50px 30px 30px 30px;
}

.bye li{
    margin-bottom: 30px;
}

.caracteristicas {
    display: flex;
    justify-content: space-around;
    margin: 50px 30px 30px 30px;
}

.caracteristicas li {
    margin-bottom: 30px;
}

#contato {      
    justify-content:center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.contato-itens form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato-itens form input{
    width: 250px;
    height: 30px;
    margin-bottom: 1vh;
}

.contato-itens form textarea{
    width: 250px;
    height: 150px;
    margin-bottom: 1vh;
}

.contato-itens form input[type="button"] {
    width: 100px;
    margin: auto; 
    color: #2954B6;
}

.creditos{
    background-color: #000;
    width: 100%;
}

.creditos p{
    color: white;
    text-align: center;
}


@media screen and (max-width: 420px) {
    .inicio {
        background-image: url("../imagens/Lapis-para-Esfumar-Olhos-True-Color-1\,08g-Preto-Intenso.jpg");
        background-size: cover;
        width: auto;
        height: 500px;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        display: flex;
        font-size: 10px;
        color:wheat;
    }   
    .menu ul {
        flex-direction: column;
        height: 150px;
    }
    .menu ul a {
        background: none;
        text-decoration-line: underline;
        padding: 0.4em;
    }
}

/* background: rgba(255, 255, 230, 0.3); */
/* background: rgba(255, 200, 175, 0.3) */




